.jumbotron {/*this shows the styling for the jumbotron*/
    position: relative;
    background: #000 url("static/CSS/imgAssets/Ufc.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: contain;
    overflow: hidden;
}
#id1{ /*this contains the size and shape for the ID1 refrenced in html*/
    width:1000px;
    height:600px;
    margin: 0 auto;
}


p{/*This sets the color font to black*/
    color:black;
    font-family: lucida sans;
    
}
.center-block {/*this contains the size and shape for the cenetr block refrenced in html*/
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 iframe {/*This controls the shape and size of the iframe*/
    display: block;
    width: 1140px;
    height: 400px;
    margin: 0 auto;
    border: 0;
    padding-bottom: 10px;
}/*this styles the icons used in the site and sets the size*/
.glyphicon.glyphicon-chevron-down {
    display:block;
    text-align:center;
    font-size: 50px;
    color:#cb2017;
}
.collapse{/*Sets the position of the collapse*/
    padding-top:10px;
    padding-bottom:10px;
}

/*this sets the styles and icon colour for specified bootsrap icons*/
.btn-facebook {
    background-color:#3B5998;
    color: white;
}
.btn-twitter {
    background-color:#55ACEE;
    color: white
}
.btn-youtube {
    background-color:#cb2017;
    color: white
}
h1{/*this sets the headings appearance by selceting the color and font*/
    color:#cb2017;
    font-family: impact;
}
h2{
    color:#cb2017;
    font-family: impact;
}
h3{
    color:#cb2017;
    font-family: impact;
}

h4{
    color:#cb2017;
    font-family: impact;
}
/*theese styles identify the margins this stops over lapping from certain elements*/
.modal p{
    color:black;
}
.page-header{
    margin-top:15px;
}
.featureImg{
    margin-bottom:15px;
}
body{
    margin-bottom:80px;
}

.active {
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/* This style is used for more functionality when using the website  */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.wrapper{/* this allows the content to be contained when overlapping*/
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}
input[type=button] {
    padding:5px 15px; 
    background:#cb2017; 
    color:#ffffff;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
    
}


/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


