<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <!-- Bootstrap Core CSS -->
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='CSS/style.css') }}"/>
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        
    </head>
    <body>
      
        
        <!--NavBar=================================================================-->
        <!--The nav bar uses bootsrap to allow a collapsable responsive structure-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- this creates the hamburger menu icon as a button to fold down-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <!-- This is the navbar brand-->
          <a class="navbar-brand">Ultimate Fighter Challenge</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar"><!--bootsrap functionality for collpase-->
          <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">News <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <!--Links for html and news list html links-->
                <li><a href="News.html">News 1-1</a></li>
                <li><a href="News2.html">News 1-2</a></li>
                <li><a href="News3.html">News 1-3</a></li>
                <li><a href="News4.html">News 1-4</a></li>
              </ul>
            </li>
              <li><a href="upcomingEvents.html">Upcoming Events</a></li>
              <li><a href="Social.html">Social</a></li>
              <li><a href="UFCgame.html">UFC Game</a></li>
          </ul>
          <!--right hand side navbar features -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Contact me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
      <!--Heading==================================================================-->
        
  
    <!--Image main==================================================================-->
      <div class="container-fluid">
        <div class="col-md-12">
          <img id="id1" onclick="changeImage()" src="static/imgAssets/Main.jpg" class="img-responsive" align="middle" alt="Main">
        </div>
      </div>
        

      
        <!--Row1==================================================================-->
        <!-- this holds the content for the article and uses the grid to contain it-->
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h3><a href="News.html"></a>News</h3>
              <p>Get all the latest information on The Ultimate Fighting Championship. The Ultimate Fighting Championship is an American mixed martial arts promotion company. It is the premier MMA promotion as well as the largest in the world, featuring most of the top-ranked fighters in the sport. Get all the latest updates on injuries and gossip in the octogon </p>
               
                  
                  <button class="btn btn-danger" id="demo">More</button>
                  <p id="para" style="display:none; margin-top: 10px;">UFC women's bantamweight champion Miesha Tate says she was "frustrated" with the Conor McGregor situation at UFC 200 but that it doesn't bother her anymore</p>
                  <button class="btn btn-danger" id="close" style="display:none;  margin-top: 10px">Close</button>
            </div>
            
        
          <!--Row2==================================================================-->
        <!-- this holds the content for the article and uses the grid to contain it-->
            <div class="col-md-3">
              <h3><a href="upcomingEvents.html"></a>Upcoming Events</h3>
              <p>July 9, 2016 
                  MAIN CARD
                  
                  Jose Aldo vs. Frankie Edgar TITLE FIGHT
                  Miesha Tate vs. Amanda Nunes TITLE FIGHT
                  Travis Browne vs. Cain Velasquez
                  
                  UNDERCARD
                  
                  Derek Brunson vs. Gegard Mousasi
                  Kelvin Gastelum vs. Johny Hendricks
                  Takanori Gomi vs. Jim Miller
                  Sage Northcutt vs. Enrique Marin
                  Julianna Pena vs. Cat Zingano
                  
                  And many more to come!</p>

                  <button class="btn btn-danger" id="demo1">More</button>
                  <p id="para1" style="display:none; margin-top: 10px;"> Heavyweight knockout artists Roy Nelson and Derrick Lewis called for a bout against each other, and on Thursday, July 7, they get their wish, as they meet in the co-main event of UFC Fight Night at the MGM Grand Garden Arena in Las Vegas. In the main event, which airs exclusively on UFC FIGHT PASS, Rafael dos Anjos defends his UFC lightweight title against Eddie Alvarez.</p>
                  <button  class="btn btn-danger" id="close1" style="display:none; margin-top: 10px">Close</button>
            </div>
            
        
          <!--Row3==================================================================-->
          <!-- this holds the content for the article and uses the grid to contain it-->
            <div class="col-md-3">
              <h3><a href="Social.html"></a>Social</h3>
              <p id="myP">UFC 1 took place in 1993 in Denver, and next month, the UFC will commemorate that milestone at UFC 167, which takes place on November 16th at the MGM Grand Garden Arena in Las Vegas. Ahead of that 20th anniversary show, the UFC announced on Saturday that it will send many of its star fighters out across North America over 20 days leading up to the big night- Like an Olympic Torch relay, with UFC fighters. As part of this, UFC plan to host a ‘social media scavenger hunt’, giving fans the chance to win a host of prizes.</p>
                  <button class="btn btn-danger" id="demo2">More</button>
                  <p id="para2" style="display:none; margin-top: 10px;"> Heavyweight knockout artists Roy Nelson and Derrick Lewis called for a bout against each other, and on Thursday, July 7, they get their wish, as they meet in the co-main event of UFC Fight Night at the MGM Grand Garden Arena in Las Vegas. In the main event, which airs exclusively on UFC FIGHT PASS, Rafael dos Anjos defends his UFC lightweight title against Eddie Alvarez.</p>
                  <button class="btn btn-danger" id="close2" style="display:none;">Close</button>
            </div>
        
          <!--Row4==================================================================-->
           <!-- this holds the content for the article and uses the grid to contain it-->
              <div class="col-md-3">
                <h3><a href="UFCgame.html"></a>UFC game</h3>
                  <p>EA SPORTS™ UFC® 2 innovates with stunning character likeness and animation, adds an all new Knockout Physics System and authentic gameplay features, and invites all fighters to step back into the Octagon™ to experience the thrill of finishing the fight. From the walkout to the knockout, EA SPORTS UFC 2 delivers a deep, authentic, and exciting experience.</p>
                  <button class="btn btn-danger" id="demo3">More</button>
                  <p id="para3" style="display:none; margin-top: 10px;">For the first time in any MMA game, experience the freedom of independent fighter control in every grappling situation. Simultaneous two-fighter interaction brings the ground game to life with greater responsiveness and variety.</p>
                  <button class="btn btn-danger" id="close3" style="display:none;">Close</button>
              </div>
            </div>
        </div>
        
              
        
        <!--Footer==================================================================-->

          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">Harrison Brain</p>
          </div>
        <!--modal==================================================================-->
            <div class="modal" id="contact" role="dialog" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form-horizontal">
                    <div class="modal-header">
                      <h4>Contact Me</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Message:</label>
                        <div class="col-lg-10">
                          <textarea  class="form-control" rows="8"></textarea>
                          
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class = "btn btn-default" data-dismiss="modal">close</a>
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
                </div>
            </div>
          </div>
  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src= "static/javascriptAssets/javascript.js"></script>
    </body>
</html>