<html>
    <head>
        <title> </title>
        <!-- Bootstrap Core CSS -->
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='CSS/style.css') }}"/>
    </head>
    <body>
     
        
        <!--NavBar=================================================================-->
        <!--The nav bar uses bootsrap to allow a collapsable responsive structure-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- this creates the hamburger menu icon as a button to fold down-->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
            <!-- This is the navbar brand-->
          <a class="navbar-brand">Ultimate Fighter Challenge</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar"><!--bootsrap functionality for collpase-->
          <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="page1.html">News <span class="caret"></span></a> <!--bootsrap functionality for dropdown-->
              <ul class="dropdown-menu">
                <!--Links for html and news list html links-->
                <li class="active" ><a href="News.html">News 1-1</a></li>
                <li><a href="News2.html">News 1-2</a></li>
                <li><a href="News3.html">News 1-3</a></li>
                <li><a href="News4.html">News 1-4</a></li>
              </ul>
            </li>
            <li><a href="upcomingEvents.html">Upcoming Events</a></li>
            <li><a href="Social.html">Social</a></li>
            <li><a href="UFCgame.html">UFC Game</a></li>
          </ul>
          <!--right hand side navbar features -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Contact me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
        <!--Article==================================================================-->
        <!--container, row and grid this is used to organise the layout and allow it to collapse-->
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="panel panel-default">
                <!--Aricle header and main content organised with tags appropriate for either header img or a paragraph-->
                <div class="panel-body">
                  <div class="page-header">
                    <h1>McGregor back from retirement already?</h1>
                  </div>
                </div>
                <img class="featureImg" src="static/imgAssets/Conor-McGregor.jpg" width="100%">
                <p>Conor Anthony McGregor is an Irish mixed martial artist who has primarily competed in the featherweight division of the Ultimate Fighting Championship, and now plans to also fight at lightweight and welterweight.</p>
                <h4>UFC 200</h4>
                <p>McGregor had at one point suggested he was retiring from the sport of mixed martial arts but later said the promotional work was distracting him from training. The Dubliner, who surged through the featherweight ranks before knocking out champion Jose Aldo in 13 seconds in December, has become the UFC's hottest property with his outrageous trash-talking outside the cage and vicious skills inside it. 
                  Jon Jones, Demetrious Johnson flash pound-for-pound greatness at UFC 197 Read more While there has been speculation Jon Jones could step into the main event at UFC 200 to fight for the light heavyweight title, the former champion's laboured win over Ovince Saint Preux on Sunday may have prompted White to give his most bankable asset another chance.Diaz has said he would only fight McGregor and that he would take a vacation rather than fight a replacement.
                  "Happy to announce that I am BACK on UFC 200!" McGregor said on his Twitter account, thanking White and the UFC chief executive, Lorenzo Fertitta, for "getting this one done for the fans".
                  McGregor, who says he has made $400m for the organisation, has been training in Iceland for the fight with Diaz, who choked him into submission in a welterweight non-title bout in March.</p>
              </div>
            </div>
         
        
        <!--side bar==================================================================-->
        <!--row and grid this is used to organise the layout and allow it to collapse and content involde on the sidebar-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News.html" class="list-group-item active">
                <h4 class="list-group-item-heading active">Conor McGregor Back for UFC 200</h4>
                  <p class="active"> Conor McGregor has said he is back on the UFC 200 card but there has been no confirmation from the organisation on the Irish featherweights return. The UFC president, Dana White, said last week McGregor had been pulled from his rematch with Nate Diaz on the 9 July card in Las Vegas after refusing to fly to the United States for a news conference and promotional work
                  </p>
              </a>
            </div>
          </div>
          <!--row and grid this is used to organise the layout and allow it to collapse and content involde on the sidebar-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News2.html" class="list-group-item">
                <h4 class="list-group-item-heading">Jon "Bones" Jones defeats Ovince Saint Preux</h4>
                <p> Other definitions
                  "The official scores are 50-45, 50-45 and 50-44. Jones wins in a whitewash. Wasn’t impressive. Wasn’t dynamic. He did work. And there’s a new interim light heavyweight UFC champion. It was a do-what-you-gotta-do performance from Jones.
                  </p>
              </a>
            </div>
          </div>
          <!--row and grid this is used to organise the layout and allow it to collapse and content involde on the sidebar-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News3.html" class="list-group-item">
                <h4 class="list-group-item-heading">Ronda Rousey Returns...</h4>
                <p> Other definitions
                  "Former UFC women's bantamweight champ is clearly still feeling pain over her loss to Holly Holm. “I’m still grieving the person that could have won it all. But I have to live up to the fact that I’m not her, that’s just who I’d like to be," she says while pushing back tears.
                  </p>
              </a>
            </div>
          </div>
          <!--row and grid this is used to organise the layout and allow it to collapse and content involde on the sidebar-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News4.html" class="list-group-item">
                <h4 class="list-group-item-heading">Edgars plans...</h4>
                <p> Other definitions
                  "Edgar has become the top contender in the featherweight division with five consecutive wins in a row, including finishes over Cub Swanson and Chad Mendes in recent fights. In fact, Edgar hasn't lost since falling to Aldo in 2013.
                  </p>
              </a>
            </div>
          </div>
          </div>
        </div>
        <!--Footer==================================================================-->

          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">Harrison Brain</p>
          </div>
        <!--modal==================================================================-->
        <!-- this is the modal structure which is displayed when accessed and is also responsive which is defined below-->
            <div class="modal fade" id="contact" role="dialog" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form-horizontal">
                    <div class="modal-header">
                      <!-- Below is the tags for the header and forms which are used within the modal-->
                      <h4>Contact Me</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Message:</label>
                        <div class="col-lg-10">
                          <textarea  class="form-control" rows="8"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class = "btn btn-default" data-dismiss="modal">close</a>
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
          <script src= "static/javascriptAssets/javascript.js"></script>
    </body>
</html>