<html>
    <head>
        <title> </title>
        <!-- Bootstrap Core CSS -->
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='CSS/style.css') }}"/>
    </head>
    <body>
        
        <!--NavBar=================================================================-->
         <!--The nav bar uses bootsrap to allow a collapsable responsive structure refer to home for more details about navbar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand">Ultimate Fighter Challenge</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="News.html">News <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="News.html">News 1-1</a></li>
                <li><a href=News2.html>News 1-2</a></li>
                <li><a href="News3.html">News 1-3</a></li>
                <li class="active"><a href="News4.html">News 1-4</a></li>
              </ul>
            </li>
            <li><a href="upcomingEvents.html">Upcoming Events</a></li>
            <li><a href="Social.html">Social</a></li>
            <li><a href="UFCgame.html">UFC Game</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Contact me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
        <!--Article==================================================================-->
         <!-- this is the main articale for the page it holds the main content-->
        <!--which is a header, image, sub header and paragraphs-->
        <!-- All controlled with the bootstrap grid system making it responsive -->
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="page-header">
                    <h1>Whats to come for Edgar</h1>
                  </div>
                </div>
                <img class="featureImg" src="static/imgAssets/aldo.jpg" width="100%">
                <p>Frankie Edgar: I'm going to make Jose Aldo wilt, I'm going to put him away</p>
                <h4>Edgar Vs Aldo</h4>
                <p>As much as Frankie Edgar wanted to face Conor McGregor at UFC 200, taking on former featherweight champion Jose Aldo isn't a bad consolation prize by any means.

                    Edgar has been clamoring for a shot at the featherweight title for months and his goal was always the belt so he took direct aim at McGregor because he was holding the belt.
                    
                    Unfortunately, McGregor has opted to move up two divisions for a pair of fights against Nate Diaz so rather than let the featherweight division remain stagnant for several months, the UFC opted to put Edgar against Aldo in an interim title fight on July 9 in Las Vegas.
                    
                    It's not exactly the scenario Edgar desired but he's always wanted a rematch with Aldo after losing a close decision to the Brazilian in 2013 and now he'll get a chance to vanquish the former champion while adding another belt to his collection. "I've got Jose on my mind 24/7 now," Edgar told FOX Sports. "He's the most dominant featherweight that we've ever had. He stumbled his last fight but he's still dangerous. I know he wants to get back at Conor and I know I want a chance at Conor as well so I'm definitely excited for this fight.
                    
                    "It was a close (first) fight, a lot of people feel I may have won or it was super close and just to have a chance at redemption is always a good thing."
                    
                    A lot has happened since Edgar and Aldo met the first time.
                    
                    Edgar has become the top contender in the featherweight division with five consecutive wins in a row, including finishes over Cub Swanson and Chad Mendes in recent fights. In fact, Edgar hasn't lost since falling to Aldo in 2013. As for Aldo, he defended the title three more times after the Edgar fight but also engaged in a brutal war with Chad Mendes before being finished by McGregor at UFC 194
                    
                    Many wonder if the damage Aldo has taken over the years culminated in the knockout he suffered to McGregor that saw him toppled by one punch in just 13 seconds.
                    
                    Edgar expects Aldo to bounce back and look better than ever when they meet at UFC 200 but then again he's happy to find out if the vicious knockout he suffered last December fractured his psyche as much as it may have damaged his chin.
                    
                    "He could be second-guessing himself," Edgar said about Aldo. "Conor threw one punch and it's over in 13 seconds, that's a tough pill to swallow and we've got a lot of pride as competitors. That eats at your pride and your ego. He's going to have to deal with all these emotions leading up to this. He didn't lose for 10 years, he's a winner and I'm sure he'll bounce back. I'm expecting this fight to be all it's cracked up to be.
                    
                    "It's going to be over three years at this point (since the last fight). I'm very comfortable, I feel like I'm coming into my own more and more and I'm coming in there to finish him 100 percent. He has a lot to try and bounce back from and he's going to have a lot of pressure on him but I feel like it's my time right now."
                </p>
              </div>
            </div>
         
        
        <!--side bar==================================================================-->
        <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News.html" class="list-group-item">
                <h4 class="list-group-item-heading">Conor McGregor Back for UFC 200</h4>
                  <p> Conor McGregor has said he is back on the UFC 200 card but there has been no confirmation from the organisation on the Irish featherweights return. The UFC president, Dana White, said last week McGregor had been pulled from his rematch with Nate Diaz on the 9 July card in Las Vegas after refusing to fly to the United States for a news conference and promotional work
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News2.html" class="list-group-item">
                <h4 class ="list-group-item-heading">Jon "Bones" Jones defeats Ovince Saint Preux </h4>
                <p> Other definitions
                  "The official scores are 50-45, 50-45 and 50-44. Jones wins in a whitewash. Wasn’t impressive. Wasn’t dynamic. He did work. And there’s a new interim light heavyweight UFC champion. It was a do-what-you-gotta-do performance from Jones.
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News3.html" class="list-group-item">
                <h4 class="list-group-item-heading">Ronda Rousey Returns...</h4>
                <p>"Former UFC women's bantamweight champ is clearly still feeling pain over her loss to Holly Holm. “I’m still grieving the person that could have won it all. But I have to live up to the fact that I’m not her, that’s just who I’d like to be," she says while pushing back tears.
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News4.html" class="list-group-item active">
                <h4 class="list-group-item-heading active">Edgars plans...</h4>
                <p class="active">
                  "Edgar has become the top contender in the featherweight division with five consecutive wins in a row, including finishes over Cub Swanson and Chad Mendes in recent fights. In fact, Edgar hasn't lost since falling to Aldo in 2013.
                  </p>
              </a>
            </div>
          </div>
          </div>
        </div>
        <!--Footer==================================================================-->

          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">Harrison Brain</p>
          </div>
        <!--modal==================================================================-->
            <div class="modal fade" id="contact" role="dialog" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form-horizontal">
                    <div class="modal-header">
                      <h4>Contact Me</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Message:</label>
                        <div class="col-lg-10">
                          <textarea  class="form-control" rows="8"></textarea>
                        
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class = "btn btn-default" data-dismiss="modal">close</a>
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
  
        <link rel="stylesheet" type="text/css" href="style.css"/>
    </body>
</html>