<html>
    <head>
        <title> </title>
        <!-- Bootstrap Core CSS -->
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='CSS/style.css') }}"/>
    </head>
    <body>
        
        <!--NavBar=================================================================-->
        <!--The nav bar uses bootsrap to allow a collapsable responsive structure refer to home for more details about navbar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand">Ultimate Fighter Challenge</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="page1.html">News <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="News.html">News 1-1</a></li>
                <li class="active"><a href=News2.html>News 1-2</a></li>
                <li><a href="News3.html">News 1-3</a></li>
                <li><a href="News4.html">News 1-4</a></li>
              </ul>
            </li>
            <li><a href="upcomingEvents.html">Upcoming Events</a></li>
            <li><a href="Social.html">Social</a></li>
            <li><a href="UFCgame.html">UFC Game</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Contact me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
        <!--Article==================================================================-->
        <!-- this is the main articale for the page it holds the main content-->
        <!--which is a header, image, sub header and paragraphs-->
        <!-- All controlled with the bootstrap grid system making it responsive -->
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="page-header">
                    <h1>Jon "bones" Jones back with a bang!</h1>
                  </div>
                </div>
                <img class="featureImg" src="static/imgAssets/Jon jones.jpeg" width="100%">
                <p>Jon Jones beats Ovince Saint Preux to set up clash with Daniel Cormier at UFC 200</p>
                <h4>UFC 197</h4>
                <p>MThe sold-out MGM Grand Garden Arena last night witnessed the number #1 and number #2 pound-for-pound best fighters in the UFC enter the Octagon. 

                  Jones defeats Saint Preux to set up Cormier clash at UFC 200
                  
                  ADVERTISING
                  
                  inRead invented by Teads
                  Jon Jones returned to action for the fast time in over 15 months to defeat late replacement Ovince Saint Preux on the scorecards. Jones entered the arena with his usual swagger and soaked up the atmosphere as he acknowledged all sides while "Coming Home" by P. Diddy/Skylar Grey fittingly blaring over the speakers. 
                  
                  To his credit, his opponent Ovince Saint Preux didn't let the heavy pro-Jones crowd get to him and he looked equally as cool, calm and collected as the fight got under way with Jones on his hands and knees crawling to the centre of the Octagon in his signature crouched position.
                  
                  Round one began tentatively with both men measuring the distance with probing kicks and punches. Jones found a home with a stiff body kick but Saint Preux pushed forward jabbing his way into distance. Before the round was out, Jones found a home with some stiff kicks but it was ultimately a slow paced start.
                  
                  At the start of the second Jones looked for a takedown when he caught a kick but it was denied and Saint Preux fired back with some stiff punches. Jones then began to apply the pressure, clinching OSP up against the cage and landing a stiff elbow. Saint Preux broke away though and landed a stiff left that temporarily had Jones back-pedalling. 'Bones' continued to land kicks but Saint Preux rocked Jones with another big left hand that again stunned Jones. Jones rallied back with a roundhouse kick on the buzzer but it was a tight round. 
                  
                  Round three started equally as frantically as both fighters traded stiff jabs. Jones' oblique kicks were giving him repeated success as OSP's movement started to look more laboured. Jones then started working stiff kicks to legs, midsection and head but OSP still walked bravely forward and landed another left hand before the climax of the round.
                  
                  The championship rounds began with the crowd restless and impatiently booing. Jones started the round with a brief slam takedown but OSP quickly got back to his feet. Saint Preux, who took the fight at short notice was noticeably tiring and Jones took him down again and started raining down elbows. Jones then worked his way into full guard and rained down more elbows before the buzzer saved OSP from being finished. 
                  
                  The final round began with OSP still gasping oxygen into his lungs. Jones worked the oblique kicks again early as a visibly exhausted Saint Preux did everything he could to circle away from danger. With two minutes left, Jones landed a huge slam takedown but OSP somehow recovered to get back to his feet and clinch with Jones up against the cage. The fight ended in pretty unspectacular fashion with some of the crowd booing.
                  
                  The judges scored the fight 50-45, 50-45, 50-44 to Jones to crown him the new interim UFC light heavyweight title. Jones will now fight Daniel Cormier at UFC 200 to unify the light heavyweight titles.</p>
              </div>
            </div>
         
        
        <!--side bar==================================================================-->
        <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News.html" class="list-group-item">
                <h4 class="list-group-item-heading">Conor McGregor Back for UFC 200</h4>
                  <p> Conor McGregor has said he is back on the UFC 200 card but there has been no confirmation from the organisation on the Irish featherweights return. The UFC president, Dana White, said last week McGregor had been pulled from his rematch with Nate Diaz on the 9 July card in Las Vegas after refusing to fly to the United States for a news conference and promotional work
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News2.html" class="list-group-item active">
                <h4 class ="list-group-item-heading active">Jon "Bones" Jones defeats Ovince Saint Preux </h4>
                <p class="active"> 
                  "The official scores are 50-45, 50-45 and 50-44. Jones wins in a whitewash. Wasn’t impressive. Wasn’t dynamic. He did work. And there’s a new interim light heavyweight UFC champion. It was a do-what-you-gotta-do performance from Jones.
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News3.html" class="list-group-item">
                <h4 class="list-group-item-heading">Ronda Rousey Returns...</h4>
                <p>"Former UFC women's bantamweight champ is clearly still feeling pain over her loss to Holly Holm. “I’m still grieving the person that could have won it all. But I have to live up to the fact that I’m not her, that’s just who I’d like to be," she says while pushing back tears.
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News4.html" class="list-group-item">
                <h4 class="list-group-item-heading">Edgars plans...</h4>
                <p> 
                  "Edgar has become the top contender in the featherweight division with five consecutive wins in a row, including finishes over Cub Swanson and Chad Mendes in recent fights. In fact, Edgar hasn't lost since falling to Aldo in 2013.
                  </p>
              </a>
            </div>
          </div>
          </div>
        </div>
        <!--Footer==================================================================-->

          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">Harrison Brain</p>
          </div>
        <!--modal==================================================================-->
            <div class="modal fade" id="contact" role="dialog" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form-horizontal">
                    <div class="modal-header">
                      <h4>Contact Me</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Message:</label>
                        <div class="col-lg-10">
                          <textarea  class="form-control" rows="8"></textarea>
                        
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class = "btn btn-default" data-dismiss="modal">close</a>
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
          
    </body>
</html>