<html>
    <head>
        <title> </title>
        <!-- Bootstrap Core CSS -->
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='CSS/style.css') }}"/>
    </head>
    <body>
        
        <!--NavBar=================================================================-->
        <!--The nav bar uses bootsrap to allow a collapsable responsive structure refer to home for more details about navbar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand">Ultimate Fighter Challenge</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="News.html">News <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="News.html">News 1-1</a></li>
                <li><a href=News2.html>News 1-2</a></li>
                <li class="active"><a href="News3.html">News 1-3</a></li>
                <li><a href="News4.html">News 1-4</a></li>
              </ul>
            </li>
            <li><a href="upcomingEvents.html">Upcoming Events</a></li>
            <li><a href="Social.html">Social</a></li>
            <li><a href="UFCgame.html">UFC Game</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Contact me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
        <!--Article==================================================================-->
         <!-- this is the main articale for the page it holds the main content-->
        <!--which is a header, image, sub header and paragraphs-->
        <!-- All controlled with the bootstrap grid system making it responsive -->
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="page-header">
                    <h1>After Ronda Rousey's defeat...</h1>
                  </div>
                </div>
                <img class="featureImg" src="static/imgAssets/Ronda-Rousey.jpg" width="100%">
                <p>Five months removed from her first loss as a MMA fighter, Rousey's emotional wounds are still raw. She says she wants to be remembered "as one of the greatest fighters that ever lived," but questions whether people will.</p>
                <h4>UFC 198</h4>
                <p>Ronda Jean Rousey (born February 1, 1987) is an American mixed martial artist and judoka. She is the first and current UFC Women's Bantamweight Champion, as well as the former Strikeforce Women's Bantamweight Champion. She has finished all of her opponents by armbar in the first round. Rousey became the first American woman to earn an Olympic medal in Judo at the Summer Olympics in Beijing in 2008. 
                    Rousey trains under famous fighters Gokor Chivichyan of the Hayastan MMA Academy and Edmond Tarverdyan of the Glendale Fighting Club.   She is part of Team Hayastan in Santa Monica, California. She is managed by Darin Harvey of Fight Tribe MMA.
                    Rousey is the consensus #1 pound-for-pound female MMA fighter in the world, according to MMARising, MMAWeekly, and many other publications. She is also ranked #1 at 135 pounds according to the Unified Women's MMA Rankings.
                    About Ronda. Five months after Ronda Rousey last stepped into the Octagon, we're getting a little closer to figuring out when she'll return. 

                    Appearing on ESPN's Beadle & Shelburne Show podcast this week, UFC president Dana White said Rousey "definitely is part of the discussion" for the promotion's November 12 pay-per-view event at Madison Square Garden.
                    
                    It would make sense. The event will be the UFC's first event in New York after the state's recent legalization of mixed martial arts. White undoubtedly wants tons of star power on the November card, and few fighters have the draw Rousey does. Make it her comeback fight after a year away from the cage, and UFC fans will be be shitting themselves, in a good way.
                    
                    Rousey has already said she would "love to have the opportunity to fight" at MSG. She was on hand when New York Governor Andrew Cuomo signed the law allowing MMA in the state. "I'm not a promoter, but boy, if Ronda Rousey fought here in November, that would be a hell of an event," he said.
                    
                    
                    As for who Rousey will fight, that's becoming a little clearer too. White said Rousey's first fight back will be for the UFC women's bantamweight belt, regardless of who owns it. 
                    
                    In all likelihood, that will be either Miesha Tate, the current title holder, or Amanda Nunes, who's fighting Tate at UFC 200 in July. White did say that if Tate takes out Nunes easily, she could fight again between UFC 200 and UFC w05 at MSG. 
                    
                    "She wants to fight. We'll see what happens. Miesha's been the No. 2 baddest woman in the world for years so for her to stay active makes sense," he said.
</p>
              </div>
            </div>
         
        
        <!--side bar==================================================================-->
        <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News.html" class="list-group-item">
                <h4 class="list-group-item-heading">Conor McGregor Back for UFC 200</h4>
                  <p> Conor McGregor has said he is back on the UFC 200 card but there has been no confirmation from the organisation on the Irish featherweights return. The UFC president, Dana White, said last week McGregor had been pulled from his rematch with Nate Diaz on the 9 July card in Las Vegas after refusing to fly to the United States for a news conference and promotional work
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News2.html" class="list-group-item">
                <h4 class ="list-group-item-heading">Jon "Bones" Jones defeats Ovince Saint Preux </h4>
                <p> 
                  "The official scores are 50-45, 50-45 and 50-44. Jones wins in a whitewash. Wasn’t impressive. Wasn’t dynamic. He did work. And there’s a new interim light heavyweight UFC champion. It was a do-what-you-gotta-do performance from Jones.
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News3.html" class="list-group-item active">
                <h4 class="list-group-item-heading active">Ronda Rousey Returns...</h4>
                <p class="active">"Former UFC women's bantamweight champ is clearly still feeling pain over her loss to Holly Holm. “I’m still grieving the person that could have won it all. But I have to live up to the fact that I’m not her, that’s just who I’d like to be," she says while pushing back tears.
                  </p>
              </a>
            </div>
          </div>
          <!--This holds the links to other articles which shows preview to content on the pages-->
        <!--All controlled trhough the bootsrap gris system and layed out in a conatiner-->
          <div class="col-lg-3">
            <div class="list-group">
              <a href="News4.html" class="list-group-item">
                <h4 class="list-group-item-heading">Edgars plans...</h4>
                <p> 
                  "Edgar has become the top contender in the featherweight division with five consecutive wins in a row, including finishes over Cub Swanson and Chad Mendes in recent fights. In fact, Edgar hasn't lost since falling to Aldo in 2013.
                  </p>
              </a>
            </div>
          </div>
          </div>
        </div>
        <!--Footer==================================================================-->

          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">Harrison Brain</p>
          </div>
        <!--modal==================================================================-->
            <div class="modal fade" id="contact" role="dialog" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form-horizontal">
                    <div class="modal-header">
                      <h4>Contact Me</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Message:</label>
                        <div class="col-lg-10">
                          <textarea  class="form-control" rows="8"></textarea>
                        
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class = "btn btn-default" data-dismiss="modal">close</a>
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
  
        
    </body>
</html>