<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <!-- Bootstrap Core CSS -->
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <script src="static/javascript/SocialJS.js"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='CSS/style.css') }}"/>
    
    </head>
    <body>
      
        
        <!--NavBar=================================================================-->
        <!--The nav bar uses bootsrap to allow a collapsable responsive structure-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand">Ultimate Fighter Challenge </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="News.html">News <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="News.html">News 1-1</a></li>
                <li><a href="News2.html">News 1-2</a></li>
                <li><a href="News3.html">News 1-3</a></li>
                <li><a href="News4.html">News 1-4</a></li>
              </ul>
            </li>
            <li><a href="upcomingEvents.html">Upcoming Events</a></li>
            <li><a href="Social.html">Social</a></li>
            <li><a href="UFCgame.html">UFC Game</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Contact me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
          <!--Jumbotron==================================================================-->
    <div class="container">
        <div class="jumbotron text-center">
            <h1> UFC </h1>
            <p>
            </p>
        </div>
    </div>
    
    <!--Twitter Handle==================================================================-->
    <!-- Using embedding the twitter handle has been placed in the web page with custom setting-->
      <div>
         <div class="container">
           <div class="col-lg-6">
               <a class="twitter-timeline" href="https://twitter.com/ufc" data-widget-id="724639917813411841">Tweets by @ufc</a>
               <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
            <!--social media buttons==================================================================-->
            <!--These are the buttons that link to external sites and use bootsrap to gather icons-->
            <div class="col-lg-6">
              <a href="https://en-gb.facebook.com/UFC/" onClick="return confirm('Do you want to leave')" class="btn btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Check out facebook
              </a>
              <!--These are the buttons that link to external sites and use bootsrap to gather icons-->
              <p>Facebook UFC is the world's leading mixed martial arts organization. Over the past decade, with the help of state athletic commissions throughout the United States, UFC has morphed itself from a spectacle into a highly respected sports organization. </p>
              <a href = "https://twitter.com/ufc?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" onClick="return confirm('Do you want to leave')" class="btn btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Check out twitter
              </a>
              <!--These are the buttons that link to external sites and use bootsrap to gather icons-->
              <p>UFC Twitter follows Major fights between world-renowned mixed martial arts superstars have become some of the most popular sporting events of the year, surpassing pay-per-view records previously held by boxing and professional wrestling. </p>
               <a href = "https://www.youtube.com/user/UFC" onClick="return confirm('Do you want to leave')" class="btn btn-social btn-youtube">
                <span class="fa fa-youtube"></span> check out youtube
              </a>
              <p>UFC Youtube is your home for exclusive interviews, videos and more with the biggest stars in the sport. Sports fans have made their voices heard - they want reality when they watch sports, and UFC is clearly "AS REAL AS IT GETS!"</p>
              <img src="static/imgAssets/UFCBelt.jpg" class="img-responsive center-bloc" height="100px" alt="Belt">
            </div>
        </div>
      </div>
      
   
      <!--Roll Over==================================================================-->
      
      <div class="container">
           <div class="col-md-12">
            <div align="center">
              <img src="static/imgAssets/Rollover1.jpg" class="img-responsive center-bloc" border="0px" width="1000px"
              onMouseOver="MouseRollover(this)" 
              onMouseOut="MouseOut(this)" />
            </div>
          </div>  
        </div>
      
        <!--Footer==================================================================-->

          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">Harrison Brain</p>
          </div>
        <!--modal==================================================================-->
            <div class="modal fade" id="contact" role="dialog" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form-horizontal">
                    <div class="modal-header">
                      <h4>Contact Me</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Message:</label>
                        <div class="col-lg-10">
                          <textarea  class="form-control" rows="8"></textarea>
                          
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class = "btn btn-default" data-dismiss="modal">close</a>
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
                </div>
            </div>
          </div>
  
        <script src= "static/javascriptAssets/javascript.js"></script>
        <script src= "static/javascriptAssets/SocialJS.js"></script>
       
    </body>
</html>