<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <!-- Bootstrap Core CSS -->
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='CSS/style.css') }}"/>
    </head>
    <body>
        
        <!--NavBar=================================================================-->
         <!--The nav bar uses bootsrap to allow a collapsable responsive structure-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand">Ultimate Fighter Challenge </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="News.html">News <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="News.html">News 1-1</a></li>
                <li><a href="News2.html">News 1-2</a></li>
                <li><a href="News3.html">News 1-3</a></li>
                <li><a href="News4.html">News 1-4</a></li>
              </ul>
            </li>
            <li><a href="upcomingEvents.html">Upcoming Events</a></li>
            <li><a href="Social.html">Social</a></li>
            <li><a href="UFCgame.html">UFC Game</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Contact me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
        <!--Jumbotron==================================================================-->
    <div class="container">
        <div class="jumbotron text-center" >
            <h1> UFC </h1>
            <p>
            </p>
        </div>
    
        <!--Iframe==================================================================-->
        <!--this allows a video to be embedded into the site-->
       
      <div class="embed-container embed-responsive embed-responsive-16by9">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/m97UWd2QuAI?autoplay=1" frameborder="0" allowfullscreen align="middle"></iframe>
      </div>
      
      <!--drop down content this allows content to be hiddent until icon is clicked and then displayed-->
        <!--This is done by using bootsrap -->
         <img src="static/imgAssets/UltimateTeam.jpg" class="img-responsive" alt="UT">
         <a data-toggle="collapse" data-target="#ult">
           <span class="glyphicon glyphicon-chevron-down"></span>
         </a> <div id="ult" class="collapse"><p>Although mixed martial arts is a sport of individuals, in the UFC, the most successful fighters are often part of the strongest teams. If you believe fighters aren’t born but built – this is your chance to put together the most explosive team of champions MMA has ever seen.
              This is UFC Ultimate Team.
              CREATE your team of up to five fighters using the deep customization options.
              COMPETE online or offline to climb your way up the ranks and leaderboard.
              COLLECT coins from fights and use them to open Fight Packs.
              CUSTOMIZE and personalize your fighters using items from Fight Packs.</p>
              <p>
              FIGHT PACKS AND ITEMS
              
              1. Upgrade Items: These items permanently improve your fighter when either equipped or applied to your fighter.
              •	Attributes: Find items focused in specific disciplines that can increase or decrease your fighter’s base stats. For example, applying a Tae Kwon Do boost will increase your movement and kick speed but will decrease your ground and pound.
              •	Perks: Equip new passive abilities such as Lightning Speed, Marathoner or Dirty Boxer to enhance your fighter
              •	Moves: Equip new moves to your fighter such as Lead Overhand Hook or Superman Punch off the Cage.
              •	Special Edition Items: High-level move items that are signature moves inspired by real world UFC fighters like Conor McGregor’s Spinning Back Kick.  
              </p>
              <p>
              2. Boost Items: These items give your fighter a temporary boost.
              •	Training Items: Training boosts improve your fighter’s attributes for the next fight only.
              •	Fitness Items: Recover your fighter’s fitness levels which affect stamina.</P>
              
              <p>
              Item Levels
              Every item has up to 5 Levels represented by stars on the top left side of each item. Items with a high-level rating are more valuable as they have a bigger impact on the created fighter when equipped, with 5 being the highest level and 1 being the lowest.
              Universal Items
              
              Apply these items to any of your created fighters regardless of what weight class they are in.
              Weight Class Items
              
              Some items have a weight class tied to them that determines which of your fighters can use them. A strategic player will build their UFC Ultimate Team fighters in a variety of weight classes to get the most out of their items.</p>
              <p>STORE
              
              Enter the Store from the UUT main menu. From here you can use Coins or UFC Points to open Fight Packs and get more items. There are different packs to choose from and each pack includes a set number of items, as well as the chance to unlock rare high-quality items.
              WAYS TO FIGHT
              </p>
              <p>
              Ultimate Championships
              Start in Division 1 and begin the climb from a prospect to contender and contender to champion. Then, defend the belt as long as you can to move up the leaderboard. Win fights to move up spots along the Title Chase path, lose fights and you move back a spot.
              
              Move up three spots in Title Chase to become a Contender - as a Contender, you are now eligible for a Title Fight against another Contender or a Champion. Once Champion, defend your title in Title Fights for as long as possible to build up your longest title defense streak. Move up the Team Leaderboards by winning fights and titles across all your fighters in your team. Compare your score against other players and take your team to the top of the world standings.
              Daily Objectives</p><p>
              When you enter UFC Ultimate Team, there will be five Daily Objectives to complete. Each objective varies in difficulty and will change every 24 hours. Tasks vary from simple ones like winning a fight at middleweight or more challenging ones like landing 100 strikes in a heavyweight bout.
              Completing Daily Objectives earns you Coins that can then be used to open Fight Packs from the Store.
              Single Player Championships
              
              Experience everything Ultimate Championships has to offer without facing online competition. Improve your skills here before jumping into the Octagon against other player-controlled fighters. Coin rewards in Single Player Championships will be slightly lower than in Ultimate Championships, and will not give any progress towards Daily Objectives.</p>

        </div>
        <!--drop down content this allows content to be hiddent until icon is clicked and then displayed-->
        <!--This is done by using bootsrap -->
         <img src="static/imgAssets/customization.jpg" class="img-responsive" alt="C">
         <a data-toggle="collapse" data-target="#cust">
           <span class="glyphicon glyphicon-chevron-down"></span>
         </a> <div id="cust" class="collapse"><p>KO MODE
              Throw away the grappling and unleash all the punches, kicks, knees and elbows in this fast-paced mode. The rules are simple…the fight doesn’t stop until someone gets starched!
              
              CUSTOM EVENT CREATOR
              Become an event organizer and create the dream fight card you’ve always wanted. Choose from iconic venues, authentic referees, and custom fight settings. Once that’s all set, take control and bring the hype.
              
              ONLINE CHAMPIONSHIPS
              Our Title Chase mode lets you test your skills against others from around the world for the shot at becoming a champion. Online features a division progression system to make sure you’re always facing off against a suitable opponent.
              
              LIVE EVENTS
              Predict. Play. Win. Make your pick in the outcome of upcoming UFC events, then step into the EA SPORTS UFC 2 Octagon to make it happen. Win in-game rewards and propel yourself up the leaderboard of our immersive fantasy prediction game. 
              
              CREATE A FIGHTER
              Character customization goes even deeper with robust facial sculpting, tattoo customization, and the ability to create female fighters. EA SPORTS GameFace returns, allowing you to put yourself in the game.
              </p><p>
              
              CAREER MODE DEPTH & AUTHENTICITY
              We’re adding three new elements to career mode:
              
              Training Camps
              
              Having a solid training camp and team to work with can help you win your next fight. Prepare for next fight by balancing your regiment to gain the greatest edge without risking injury.
              
              Female Fighters
              
              For the first time in a UFC game, create a female fighter and guide them to UFC greatness.
              
              Career Defining Moments
              
              First, make your name in The Ultimate Fighter. Then, fight your way through the ranks in the hopes of becoming the next UFC Champion. Along the way, meet career-defining moments that will make your journey even more unique. From epic battles to long-lasting rivalries, your path to the championship will be a memorable one.
              
              UFC ULTIMATE TEAM
              For the first time in an MMA title, EA SPORTS’ popular “Ultimate Team” mode is coming to EA SPORTS UFC 2. Create. Compete. Collect. Customize.
              
              Create your team of up to five fighters in different weight classes using EA SPORTS UFC 2's deep customization options.
              
              Compete in online or offline competitions to progress your fighters and earn coins.
              
              Collect coins to buy packs which deliver special items used to boost fighter performance.
              
              Customize your fighters with items from packs which improve or change moves, attributes and perks – all of which work together to sculpt your team members into the most explosive in the UFC.
              </p>
           </div>
           <!--drop down content this allows content to be hiddent until icon is clicked and then displayed-->
        <!--This is done by using bootsrap -->
         <img src="static/imgAssets/FemaleCareer.jpg" class="img-responsive" alt="FC">
          <a data-toggle="collapse" data-target="#fem">
           <span class="glyphicon glyphicon-chevron-down"></span>
         </a> <div id="fem" class="collapse"><p>The game was officially unveiled in December of 2015 and at the time it was announced the cover had not been completed. Ronda Rousey was named as one of the cover athletes and the other athlete was the winner of the contest between Conor McGregor and Jose Aldo in UFC 194. McGregor eventually won that contest and there has since been a cover unveiled that shows both Rousey and McGregor.

              The game was officially unveiled thanks to a trailer that showed a number of fighters in the game and it’s featuring Rousey. </p><p>In mid-December, the development team announced that the game is slated to run at 1080p, and renders at 30fps with motion blur. In order to explain the decision to have the game run at these levels, the game director Brian Hayes gave a recent interview where he said, “We’ve found that going to 60fps doesn’t have a hugely beneficial impact, and people in testing have told us that the game actually looks better at 30fps with motion blur.”
              
              The company has said that there are going to be more than 250 fighters in the game, which is quite a bit more than what was in the original game, even with later updates and DLC.</p><p> While the entire roster of the game has not been identified yet, there have been a few fighters that were officially announced as being in the game. The company announced at the end of December that CM Punk would be included in the game, despite the fact that he’s not even made his official appearance in the real UFC.
              
              The development team has announced that there is a new facial modeling rig and the introduction of hair physics. It also has improved strike deformation work that is supposed to make every impact more realistic is said to have quite a few signature animations tied to the fighters.
              </p>
           
           </div>
      </div>
      
      

        <!--Footer==================================================================-->

          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">Harrison Brain</p>
          </div>
        <!--modal==================================================================-->
            <div class="modal fade" id="contact" role="dialog" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form-horizontal">
                    <div class="modal-header">
                      <h4>Contact Me</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Message:</label>
                        <div class="col-lg-10">
                          <textarea  class="form-control" rows="8"></textarea>
                          
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class = "btn btn-default" data-dismiss="modal">close</a>
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
                </div>
            </div>
          </div>
          <script src= "static/javascriptAssets/javascript.js"></script>
    </body>
</html>