<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <!-- Bootstrap Core CSS -->
          <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='CSS/style.css') }}"/>
    </head>
    <body>
        
        <!--NavBar=================================================================-->
         <!--The nav bar uses bootsrap to allow a collapsable responsive structure-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand">Ultimate Fighter Challenge </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="home.html">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="News.html">News <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="News.html">News 1-1</a></li>
                <li><a href="News2.html">News 1-2</a></li>
                <li><a href="News3.html">News 1-3</a></li>
                <li><a href="News4.html">News 1-4</a></li>
              </ul>
            </li>
            <li><a href="upcomingEvents.html">Upcoming Events</a></li>
            <li><a href="Social.html">Social</a></li>
            <li><a href="UFCgame.html">UFC Game</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#contact" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Contact me</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
        <!--carousel==================================================================-->
        <!-- this is the carousel it allows the images to transition and viewed and not consume space-->
        <div class="container">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="static/imgAssets/CarouselTwo.jpg" alt="MD">
            </div>
        
            <div class="item">
              <img src="static/imgAssets/CarouselOne.jpg" alt="HT">
            </div>
        
            <div class="item">
              <img src="static/imgAssets/CarouselThree.jpg" alt="JS">
            </div>
        
            <div class="item">
              <img src="static/imgAssets/CarouselFour.jpg" alt="DC">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      
       <!--Table=================================================================-->
       <!--this is the table which holds the content for the fight dates-->
      
           <div class="container">
             <div class="col-md-12">
        <h2>Upcoming Fights</h2>
        <p>Main events to take place in the UFC</p>            
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Fighter</th>
              <th>Vs</th>
              <th>Challenger</th>
              <th>Stadium</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Overeem</td>
              <td>Vs</td>
              <td>Arlovski</td>
              <td>Rotterdam, Netherlands</td>
              <td>03:00</td>
            </tr>
            <tr>
              <td>Werdum</td>
              <td>Vs</td>
              <td>Miocic</td>
              <td>Curitiba, Brazil</td>
              <td>03:00</td>
            </tr>
            <tr>
              <td>Almeida</td>
              <td>Vs</td>
              <td>Garbrandt</td>
              <td>Las Vegas, USA</td>
              <td>03:00</td>
            </tr>
            <tr>
              <td>Rockhold</td>
              <td>Vs</td>
              <td>Weidman</td>
              <td>Los Angeles, USA</td>
              <td>03:00</td>
            </tr>
             <tr>
              <td>Macdonald</td>
              <td>Vs</td>
              <td>Thompson</td>
              <td>Ottawa, USA</td>
              <td>03:00</td>
            </tr>
            <tr>
              <td>Dos Anjos</td>
              <td>Vs</td>
              <td>Alvarez</td>
              <td>Las Vegas, USA</td>
              <td>01:00</td>
            </tr>
            <tr>
              <td>Joanna</td>
              <td>Vs</td>
              <td>Claudia</td>
              <td>Curitiba, Brazil</td>
              <td>03:00</td>
            </tr>
          </tbody>
        </table>
        </div>
          
      </div>
        
        <div class ="container">
          <div id="div1">
            <h1 id=mainUpdate>Just in </h1>
            <p id="paragraph">As it stands right now, you’ve got Jon Jones vs. Daniel Cormier in the main event, then Miesha Tate vs. Amanda Nunes, Jose Aldo vs. Frankie Edgar, Cain Velasquez vs. Travis Browne, and Johny Hendricks vs. Kelvin Gastelum. If that holds together and nothing else gets added, it’s basically the best pay-per-view lineup of the year so far, right? But has the arbitrary enormity of the round number attached to this event blinded us to that? And did what we shall now refer to as The Conor McGregor Situation only further distort our sense of what is actually being offered here? Downes: I guess part of me wonders, if McGregor vs. Nate Diaz 2 were still on for this event, would people still complain that the card wasn’t stacked?</p>

          </div>
        </div>
        <!--this is the image which can be altered using the dom javascript it can be shown and hidden-->
        
          <div class ="container" class="wrapper" >
            <button type="button" onclick="hideElem()">Hide image</button>
            <button type="button" onclick="showElem()">Show image</button>
            <img id="myImg" src="static/imgAssets/Vs.jpg" class="wrapper" ><br>
          </div>

          <p id="demo"></p>
        <!--Footer==================================================================-->

          <div class="navbar navbar-inverse navbar-fixed-bottom">
            <p class="navbar-text">Harrison Brain</p>
          </div>
        <!--modal==================================================================-->
            <div class="modal fade" id="contact" role="dialog" >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form class="form-horizontal">
                    <div class="modal-header">
                      <h4>Contact Me</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                        <div class="col-lg-10">
                          <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                          <input type="email" class="form-control" id="contact-email" placeholder="you@example.com">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="contact-message" class="col-lg-2 control-label">Message:</label>
                        <div class="col-lg-10">
                          <textarea  class="form-control" rows="8"></textarea>
                          
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class = "btn btn-default" data-dismiss="modal">close</a>
                      <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>
                </div>
            </div>
          </div>
          <script src= "static/javascriptAssets/javascript.js"></script>
  </body>
</html>